<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <title>Create a post!</title>
    <style>
        form {
          margin: 0 auto;
        }
        h1{
            text-align: center;
            color: #8D7BBB
        }
    </style>
</head>
<body>


    <th:block th:replace="fragments/navbar :: main-navbar"/>
    <div class="container">
        <th:block th:replace="fragments/jumbotron :: jumbotron-create"/>
        <form th:action="@{'/posts/create'}" th:method="post" th:object="${post}">
            <input type="text" th:field="*{title}" placeholder="enter title">
            <input type="text" th:field="*{body}" placeholder="enter body">
            <button class="btn btn-dark">Add Post</button>
        </form>
</div>
</body>
</html>