<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <title>Edit this post</title>
    <style>
        h1{
            text-align: center;
            color: #8D7BBB
        }

    </style>
</head>
<body>
<th:block th:replace="fragments/navbar :: main-navbar"/>
<div class="container">
    <th:block th:replace="fragments/jumbotron :: jumbotron-edit"/>
    <form th:action="'/posts/' + ${post.id} + '/edit'" th:method="post" th:object="${post}">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" id="title" type="text" th:value="${post.title}" name="title">
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" id="body" th:text="${post.body}" name="body"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Submit Changes</button>
    </form>
</div>
</body>
</html>