<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

        <th:block th:replace="fragments/header :: header"/>
        <title>All Posts</title>
        <style>
            h1{
               text-align: center;
               color: #8D7BBB
            }

            #welcome{
                color: #499A99;
            }

            p{
                text-align: center;
                color: #499A99
            }
            form{
               margin: 0 auto;
            }
            #welmes{
                color: black;
            }

        </style>
    </head>
<body>

<th:block th:replace="fragments/navbar :: main-navbar"/>
<div class="container">
    <th:block th:replace="fragments/jumbotron :: jumbotron-index"/>
    <div sec:authorize="isAuthenticated()">
        <h1 id ="welcome">Hey <span th:text="${#authentication.principal.username}"/>!</h1>
        <p id="welmes">Here are all the posts!</p>
    </div>
    <div class="card" th:each="post : ${post}">
        <h1 th:text="${post.title}"></h1>
        <p th:text="${post.body}"></p>
        <input type="hidden" name="id" th:value="${post.id}">
        <form th:action="@{'/posts/' + ${post.id}}" th:method="get">
            <input type="hidden" name="id" th:value="${post.id}">
            <button class="btn btn-dark btn-block" id="viewPost">view this post</button>
        </form>
    </div>
</div>
</body>
</html>