<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <title>Post</title>
</head>
<body>

<!--<h1>This is the home page</h1>-->
​
​
<div class = "card">
    <h1 th:text ="${post.title}"></h1>
    <p th:text="${post.body}"></p>
    <input type="hidden" name="id" th:value="${post}">
    <input type="hidden" name="id" th:value="${post.id}">
    <form th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="get">
        <input type="hidden" name="id" th:value="${post.id}">
        <button>Edit</button>
    </form>
        <form method="post" action="/posts/delete">
            <input type="hidden" name="id" th:value="${post.id}">
            <button>Delete</button>
        </form>
    <p>Created by: <span th:text="${post.user.email}"></span></p>
</div>
</div>

</body>
</html>