<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div class="jumbotron" th:fragment="jumbotron-index">
    <h1 class="display-4">All Posts!</h1>
</div>

<div class="jumbotron" th:fragment="jumbotron-edit">
    <h1 class="display-4">Edit Post!</h1>
</div>

<div class="jumbotron" th:fragment="jumbotron-show">
    <h1 class="display-4">Select Post!</h1>
</div>

<div class="jumbotron" th:fragment="jumbotron-create">
    <h1 class="display-4">Create a Post!</h1>
</div>

